    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --color-slate-900: #1F314F;
        --color-slate-500: #68778D;
        --color-slate-300: #D5E1EF;
        --color-blue-600: #2C7DFA;
        --color-blue-500: #3685FF;
        --color-white: #FFFFFF;

        --spacing-500: 40px;
        --spacing-300: 24px;
        --spacing-200: 16px;

        --font-size-paragraph: 15px;
        --line-height-paragraph: 1.4;
        --font-size-h1: 22px;
        --line-height-h1: 1.2;
    }

    body {
        font-family: "Outfit", sans-serif;
        padding: var(--spacing-500);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        background-color: var(--color-slate-300);
    }

    .qrcode-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        max-width: 288px;
        border-radius: 1rem;
        background-color: var(--color-white);
        padding: var(--spacing-200);
        padding-bottom: var(--spacing-500);
    }

    img {
        width: 100%;
        border-radius: 0.5rem;
    }

    header {
        padding: 0 0.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
    }

    h1 {
        text-align: center;
        color: var(--color-slate-900);
        font-size: var(--font-size-h1);
        line-height: var(--line-height-h1);
    }

    p {
        text-align: center;
        color: var(--color-slate-500);
        font-size: var(--font-size-paragraph);
        line-height: var(--line-height-paragraph);
    }

    /*ATRIBUTION*/
    .attribution {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;
    }

    .attribution p {
        font-size: 0.75rem;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }

    .attribution-icons {
        display: flex;
        gap: 0.5rem;
    }

    .attribution-icons img {
        width: 100%;
        max-width: 25px;
        transition: transform 0.1s ease;
    }

    .attribution-icons img:hover {
        transform: scale(1.2);
    }