/* For my CSS architecture, I followed the ITCSS methodology to keep my styles organized
and properly manage specificity and scalability. */

/* ITCSS | 01- Setting */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-family-p: "Outfit", sans-serif;
    --font-family-h1: "Young Serif", serif;
    --font-family-h3: "Young Serif", serif;

    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --color-background-body: hsl(0, 0%, 100%);
    --color-text-accent-green: #44FFA1;
    --color-text-accent-purple: #24053E;

    --spacing-50: 0.25rem;
    /* 4px */
    --spacing-100: 0.5rem;
    /* 8px */
    --spacing-150: 0.75rem;
    /* 12px */
    --spacing-200: 1rem;
    /* 16px */
    --spacing-300: 1.5rem;
    /* 24px */
    --spacing-500: 2.5rem;
    /* 40px */
}

/* ITCSS | 02- Tools */
@font-face {
    font-family: 'Fraunces Variable';
    src: url('assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces Static';
    src: url('assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url(assets/fonts/manrope/Manrope-VariableFont_wght.ttf) format('truetype-variable');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope Static';
    src: url(assets/fonts/manrope/static/Manrope-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* ITCSS | 03 - Generic: Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ITCSS | 04- Elements */
body {
    background-color: var(--color-background-body);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

header {
    font-family: var(--font-family-p);
    background-color: var(--color-text-accent-purple);
}

h1 {
    font-family: var(--font-family-h1);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-accent-purple);
    font-size: 2rem;
}

h3 {
    font-family: var(--font-family-h3);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text-accent-purple);
}

p {
    font-family: var(--font-family-p);
    font-weight: var(--font-weight-regular);
    color: var(--color-text-accent-purple);
}

a {
    text-decoration: underline;

}

/* ITCSS | 05- Components */
.header {
    display: flex;
    
}

.header__logo {
    fill: var(--color-background-body);
    width: 10%;
}


svg {
    width: 1%;
}